<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.openseesawme">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestSec">

        </activity>
        <activity android:name=".UserMypage" />
        <activity android:name=".Outsetitem" />
        <activity android:name=".OutdoorsetEnd" />
        <activity android:name=".OutdoorsetAdd" />
        <activity android:name=".Outdoorset" />
        <activity android:name=".Outdooritem" />
        <activity android:name=".DoorlockList" />
        <activity android:name=".DoorlockItem" />
        <activity android:name=".DoorlockInfo" />
        <activity android:name=".Loading" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".JoinAgree" />
        <activity android:name=".RegisterDoorlock4">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterDoorlock3_2" />
        <activity android:name=".RegisterDoorlock3" />
        <activity android:name=".RegisterDoorlock2" />
        <activity android:name=".RegisterDoorlock1" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".myguestkey" />
        <activity android:name=".Fingerprint" />
        <activity android:name=".SetList" />
        <activity android:name=".SmsTest">
            <intent-filter>
                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".OtherGuestkey" />
        <activity android:name=".OtherMemo1" />
        <activity android:name=".OtherMemo2" />
        <activity android:name=".OtherGuestkeyEnd" />
        <activity android:name=".join">

        </activity>
        <activity android:name=".Login" />
        <activity android:name=".SendGuestKey" />
        <activity android:name=".TrueMainActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="2be22d73290ff53d3a9e1b69b2fa6c2a" />
    </application>

</manifest>